<h1>Chatting with <%= @conversation.with(current_user).name %></h1>

<div id="conversation-main">
  <div id="conversation-body">
    <%= render @conversation.messages %>
  </div>

  <%= form_for @message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.text_field :body, placeholder: 'Message..', class: 'formc-control' %>
    <%= f.submit 'Send', class: 'btn btn-primary' %>
  <% end %>
</div>
