<div class="row m-1 shadow p-3 mb-3">
  <div class="col-8">
    <%= link_to aide.user.name, aide %>
    <div class="m-2">
      Cities:
      <%= render 'locations/cities', cities: aide.user.cities %>
    </div>

    <div class="m-2">
      Categories:
      <%= render 'skills/categories', categories: aide.categories.uniq %>
    </div>
  </div>

  <div class='col-4 float-right'>
    <% if current_user.client? %>
      <%= link_to favourite_aide_path(aide_id: aide.id),
                  class: "star-icon",
                  data: { id: aide.id  },
                  remote: true,
                  method: :post do %>
        <i class="<%= heart_icon_class(aide) %>" id="star-<%= aide.id %>"></i>
      <% end %>
    <% end %>
  </div>
</div>
