<h1>Aide profile path</h1>

<h4>Name: <%= current_aide.email %></h4>
<h4>Username: <%= current_aide.username %></h4>
<h4>Email: <%= current_aide.name %></h4>
<h3>Locations:</h3>
<%= render current_aide.locations %>
<%= link_to 'Add location', new_location_path %>
