<%= link_to 'All aides', aides_path %>
<p>Aide show page</p>
<%= link_to 'Chat', rooms_path(aide_id: @aide.id), method: :post, class: 'btn btn-primary' %>
<h3>name: <%= @aide.name %></h3>
<h3>username: <%= @aide.username %></h3>
<h3>Link: <%= @aide.link %></h3>
<h3>Phone: <%= @aide.phone %></h3>
<h3>Locations:</h3>
<%= render @aide.locations %>
