<div class="m-4">
  <div class="row mb-5">
    <h3>Profile</h3>
    <%= link_to 'Edit', edit_user_path(current_user) %>
  </div>

  <div class="row">
    <div class="col-4">
      <h6>name: <%= current_user.name %></h6>
    </div>

    <div class="col-4">
      <h6>username: <%= current_user.username %></h6>
    </div>

    <div class="col-4">
      <h6>registered at <%= pretty_time current_user.created_at %></h6>
    </div>
  </div><hr>

  <div class="row">
    <div class="col-4">
      <h6>Phone: <%= current_user.phone %></h6>
    </div>

    <div class="col-4">
      <h6>Link: <%= current_user.link %></h6>
    </div>

    <div class="col-4">
      <h6>Bio: <%= current_user.bio %></h6>
    </div>
  </div><hr>

  <div class="row">
    <div class="col-6">
      <h3>Locations:</h3>
      <%= render current_user.locations %>
      <%= link_to 'Add location', new_location_path, class: 'btn btn-primary mt-2' %>
    </div>

    <% if current_user.aide? %>
    <div class="col-6">
      <h3>Categories:</h3>
      <%= render current_user.aide.skills %>
      <%= link_to 'Add category', new_skill_path, class: 'btn btn-primary mt-2' %>
    </div>
    <% end %>
  </div>
</div>
