<header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <h3>
              Xfiles
            </h3>
          </a>

          <% if user_signed_in? %>
            <% if current_user.client? %>
              <%= render 'shared/nav_client_links' %>
            <% elsif current_user.aide?  %>
              <%= render 'shared/nav_aide_links' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <% if user_signed_in? %>
            <%= link_to 'Profile', profile_users_path, class: 'btn btn-primary me-2' %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-light text-dark me-2' %>
          <% else %>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-light text-dark me-2' %>
            <%= link_to 'Sign-up', new_user_registration_path, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </header>
