<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <%= render 'form', room: Room.new %>
      <hr>

      <% @rooms.each do |room| %>
        <%= link_to room do %>
          <div class="card mb-2">
            <div class="card-body">
              <%= room.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-9">
      <% if @room.present?  %>
        <div class="chat-room">
          <h2><%= @room.name %></h2>
          <% @room.messages.each do |message| %>
            <div class="message mb-2">
              <div class="<%= message_content_class(message) %>">
                <%= message.content %>
              </div>
              <div class="author">
                <%= message.userable.username %>
              </div>
            </div>
            <br>
          <% end %>
          <div class="chat-box">
            <%= render 'messages/form', message: Message.new, room: @room %>
          </div>
        </div>
      <% end  %>
    </div>
  </div>
</div>
